.v-application
  &.theme--light
    .v-main
      background-color: #e5e5e5 !important
      color: rgba(59, 59, 59, 1) !important
    a:not(.v-btn):not(.v-chip):not(.v-tab)
      color: $black !important
  &.theme--dark
    .v-main
      background-color: $black
    a:not(.v-btn):not(.v-chip):not(.v-tab)
      color: #fff !important
